*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 1300px) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  color: #fff; }

::selection {
  color: #fff;
  background: #ff9900; }

.container {
  width: 100%;
  position: relative; }

.heading-gigant {
  font-weight: 400;
  font-size: 7rem;
  line-height: 1; }
  @media only screen and (max-width: 37.5em) {
    .heading-gigant {
      font-size: 5.5rem; } }
  @media only screen and (max-width: 383px) {
    .heading-gigant {
      font-size: 4.5rem; } }

.heading-primary {
  font-weight: 400;
  font-size: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 3rem; } }
  @media only screen and (max-width: 383px) {
    .heading-primary {
      font-size: 2.5rem; } }

.heading-2 {
  font-weight: 400;
  font-size: 4rem; }
  .heading-2--black {
    color: #000; }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 3.2rem; } }
  @media only screen and (max-width: 383px) {
    .heading-2 {
      font-size: 2.7rem; } }

.heading-3 {
  font-weight: 400;
  font-size: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-3 {
      font-size: 2.2rem; } }
  @media only screen and (max-width: 383px) {
    .heading-3 {
      font-size: 1.8rem; } }

.heading-4 {
  font-weight: 400;
  font-size: 1.8rem;
  font-family: "Aleo", serif;
  color: #ff9900;
  text-transform: uppercase;
  letter-spacing: 0.53rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-4 {
      font-size: 1.67rem; } }

.button-primary {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ff9900;
  background-color: transparent;
  border: 2px solid #ff9900;
  padding: 1rem 2rem;
  font-weight: 700;
  letter-spacing: 0.05rem; }
  .button-primary--1 {
    border: none;
    color: #fff;
    background-color: #ff9900; }
  .button-primary--2 {
    border: none;
    color: #ff9900;
    background-color: #fff; }

.bg-image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 60%;
  width: 60%;
  z-index: -1;
  overflow: hidden; }
  @media only screen and (max-width: 478px) {
    .bg-image {
      width: 100%;
      height: 100%; } }
  .bg-image--outer {
    right: -8rem; }
    @media only screen and (max-width: 478px) {
      .bg-image--outer {
        right: 0; } }
  .bg-image__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.slider {
  width: 100%;
  height: 85.2%;
  overflow: hidden;
  position: relative; }
  .slider__content {
    min-width: 100%;
    height: 100%; }
  .slider__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .slider__navigation {
    width: 100%;
    height: 14.8%;
    background-color: #ffb800;
    padding: 1.8rem 7.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .slider__navigation--transparent {
      background-color: transparent;
      margin-top: auto; }
    @media only screen and (max-width: 1100px) {
      .slider__navigation {
        padding: 1.8rem 4.2rem; } }
  .slider__bullets {
    width: 20%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center; }
    .slider__bullets-item {
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 100px;
      background-color: rgba(255, 255, 255, 0.7); }
      .slider__bullets-item--main, .slider__bullets-item--secondary {
        width: 0.9rem;
        height: 0.9rem;
        background-color: #fff; }
      .slider__bullets-item--secondary {
        background-color: #ff9900; }
  .slider__options {
    width: 6.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto; }
  .slider__arrow {
    width: 2rem;
    height: 3rem;
    cursor: pointer; }
  .slider__icon {
    width: 100%;
    height: 100%; }

.full-height {
  height: 100% !important; }

.padding-bottom-big {
  padding-bottom: 10rem; }
  @media only screen and (max-width: 1100px) {
    .padding-bottom-big {
      padding-bottom: 6.5rem; } }
  @media only screen and (max-width: 26.625em) {
    .padding-bottom-big {
      padding-bottom: 3.5rem; } }

.about-us {
  width: 100%;
  height: 73.8rem;
  display: flex;
  font-size: 1.6rem; }
  @media only screen and (max-width: 56.25em) {
    .about-us {
      height: 53.8rem; } }
  @media only screen and (max-width: 478px) {
    .about-us {
      flex-direction: column;
      height: auto; } }
  .about-us__image {
    width: 40%;
    height: 100%;
    background-image: url("../../img/charles.jpg");
    background-size: cover;
    background-position: center;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .about-us__image {
        width: 32%; } }
    @media only screen and (max-width: 478px) {
      .about-us__image {
        width: 100%;
        height: 30rem; } }
  .about-us__experience {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 22rem;
    height: 23rem;
    background-color: #ffb800;
    padding: 3.4rem; }
    @media only screen and (max-width: 37.5em) {
      .about-us__experience {
        width: 100%;
        height: auto; } }
    @media only screen and (max-width: 478px) {
      .about-us__experience {
        width: 22rem;
        left: 0; } }
  .about-us__info {
    flex: 1;
    height: 100%;
    padding: 18.8rem;
    position: relative; }
    @media only screen and (max-width: 1021px) {
      .about-us__info {
        padding: 4.8rem; } }
    @media only screen and (max-width: 56.25em) {
      .about-us__info {
        padding: 0; } }
    @media only screen and (max-width: 478px) {
      .about-us__info {
        order: -1;
        min-height: 60rem; } }
    @media only screen and (max-width: 383px) {
      .about-us__info {
        min-height: 65rem; } }

.information {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  color: #000; }
  @media only screen and (max-width: 56.25em) {
    .information {
      width: 85%; } }
  @media only screen and (max-width: 478px) {
    .information {
      width: 80%;
      height: 80%; } }
  .information *:not(:last-child) {
    margin-bottom: 2rem; }
  .information__paragraph {
    font-family: "Aleo", serif;
    font-size: 1.6rem; }

.contact {
  width: 100%;
  height: 38.5rem;
  font-size: 1.6rem;
  background-color: #ffb800;
  position: relative; }
  .contact__paragraph {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.7); }

.form-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  height: 100%;
  padding: 4rem; }
  @media only screen and (max-width: 87.5em) {
    .form-container {
      width: 65%; } }
  @media only screen and (max-width: 1100px) {
    .form-container {
      width: 80%; } }
  @media only screen and (max-width: 725px) {
    .form-container {
      width: 95%; } }
  .form-container__headers {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }

.form {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; }
  .form__group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .form__input, .form__message {
    outline: none;
    border: none;
    background-color: transparent;
    width: 30rem;
    height: 3rem;
    font-size: 1.8rem;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
    @media only screen and (max-width: 37.5em) {
      .form__input, .form__message {
        width: 40%; } }
    .form__input:focus, .form__message:focus {
      outline: none; }
    .form__input::placeholder, .form__message::placeholder {
      color: rgba(255, 255, 255, 0.7); }
  .form__message {
    width: 100%; }

.landing {
  width: 100%;
  height: 100.14rem;
  font-size: 1.6rem;
  background-image: url("../img/electric-man.png");
  background-size: cover;
  background-position: center;
  position: relative; }
  @media only screen and (max-width: 26.625em) {
    .landing {
      height: 112.14rem; } }

.navbar {
  width: 100%;
  height: 5.4rem;
  padding: 0 11rem;
  background-color: rgba(0, 0, 0, 0.31);
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  @media only screen and (max-width: 725px) {
    .navbar {
      padding: 0 5rem; } }
  @media only screen and (max-width: 478px) {
    .navbar {
      flex-wrap: wrap;
      height: auto;
      padding: 2.6rem; } }
  .navbar__phones {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Aleo", serif; }
    @media only screen and (max-width: 478px) {
      .navbar__phones {
        width: 100%;
        justify-content: space-around; } }
  .navbar__links {
    width: 15rem;
    margin-left: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 725px) {
      .navbar__links {
        margin-left: 5.5rem; } }
    @media only screen and (max-width: 478px) {
      .navbar__links {
        margin-right: auto;
        margin-top: 2rem; } }
    .navbar__links-item:link, .navbar__links-item:visited {
      text-decoration: none;
      height: 3rem;
      width: 4rem; }
      .navbar__links-item:link img, .navbar__links-item:visited img {
        height: 100%;
        background-position: center; }

.headers {
  width: 100%;
  padding: 4rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .headers {
      flex-wrap: wrap;
      padding: 4rem; } }
  @media only screen and (max-width: 26.625em) {
    .headers {
      padding: 4rem 2rem; } }
  .headers__logo {
    font-size: 2.4rem;
    font-weight: 900;
    color: #ff9900;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .headers__logo {
        order: 0; } }
  .headers__sub {
    width: 50%;
    font-size: 1.8rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 1100px) {
      .headers__sub {
        width: 65%; } }
    @media only screen and (max-width: 725px) {
      .headers__sub {
        height: 18rem;
        flex-direction: column;
        width: 30%; } }
    @media only screen and (max-width: 37.5em) {
      .headers__sub {
        order: 2; } }
    @media only screen and (max-width: 37.5em) {
      .headers__sub {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 2rem;
        flex-direction: row;
        height: 8rem; } }
    .headers__sub-item:link, .headers__sub-item:visited {
      text-decoration: none;
      color: #fff;
      font-weight: 400;
      letter-spacing: 0.07rem; }
      @media only screen and (max-width: 383px) {
        .headers__sub-item:link, .headers__sub-item:visited {
          margin-right: 2rem; } }
    .headers__sub-item--primary {
      color: #ff9900 !important;
      border-bottom: 3px solid #ff9900; }

.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56.3%);
  width: 50%; }
  @media only screen and (max-width: 1100px) {
    .jumbotron {
      width: 70%; } }
  @media only screen and (max-width: 725px) {
    .jumbotron {
      top: 56%; } }
  @media only screen and (max-width: 478px) {
    .jumbotron {
      top: 65%; } }
  @media only screen and (max-width: 26.625em) {
    .jumbotron {
      top: 56.3%; } }
  .jumbotron__paragraph {
    font-size: 1.8rem;
    font-family: "Aleo", serif;
    margin-top: 2.9rem;
    margin-bottom: 7.1rem; }
    @media only screen and (max-width: 26.625em) {
      .jumbotron__paragraph {
        font-size: 1.4rem;
        margin-bottom: 2.31rem; } }

.down-row {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 16.9rem;
  padding: 3rem 8rem;
  background-color: transparent;
  backdrop-filter: blur(9px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  grid-gap: 8rem; }
  @media only screen and (max-width: 1021px) {
    .down-row {
      grid-gap: 4rem;
      padding: 3rem 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .down-row {
      grid-gap: 2.2rem;
      padding: 1.8rem 2.9rem;
      align-content: flex-start;
      height: 11.9rem; } }
  @media only screen and (max-width: 26.625em) {
    .down-row {
      padding-bottom: 1.8rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, min-content);
      height: 23.3rem;
      row-gap: 6rem; } }
  .down-row__card {
    font-family: "Aleo", serif;
    font-weight: 600;
    font-size: 2rem;
    position: relative; }
    @media only screen and (max-width: 1100px) {
      .down-row__card {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 1021px) {
      .down-row__card {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 37.5em) {
      .down-row__card {
        font-size: 1.3rem; } }
  .down-row__icon {
    position: absolute;
    top: 0;
    right: 0; }
    @media only screen and (max-width: 1021px) {
      .down-row__icon {
        height: 8rem; } }

.portfolio {
  width: 100%;
  height: 83.8rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 478px) {
    .portfolio {
      height: auto; } }
  .portfolio__headers {
    width: 100%;
    height: 20.68rem;
    text-align: center;
    padding-top: 7.6rem;
    padding-bottom: 3.8rem; }
    @media only screen and (max-width: 478px) {
      .portfolio__headers {
        padding-bottom: 0;
        margin-bottom: -5rem; } }
  .portfolio__blocks {
    width: 100%;
    height: calc(100% - 20.68rem);
    flex: 1;
    display: flex; }
    @media only screen and (max-width: 478px) {
      .portfolio__blocks {
        flex-direction: column; } }
  .portfolio__info {
    width: 60%;
    height: 100%;
    padding: 8.8rem 16.7rem;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative; }
    .portfolio__info-header {
      font-weight: 700; }
    .portfolio__info-items {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .portfolio__info-items:first-child {
        margin-bottom: 1rem; }
    .portfolio__info-paragraph, .portfolio__info-item {
      font-size: 1.8rem; }
    .portfolio__info-item span {
      font-weight: 700;
      margin-right: 1rem; }
    @media only screen and (max-width: 1100px) {
      .portfolio__info {
        padding: 4.4rem 8.8rem; } }
    @media only screen and (max-width: 56.25em) {
      .portfolio__info {
        padding: 3.4rem 4rem;
        width: 50%; } }
    @media only screen and (max-width: 478px) {
      .portfolio__info {
        width: 100%;
        height: 51rem; } }
  .portfolio__gallery {
    width: 40%;
    height: 100%;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .portfolio__gallery {
        width: 50%; } }
    @media only screen and (max-width: 725px) {
      .portfolio__gallery {
        flex-direction: column;
        align-items: flex-start;
        height: calc(100% - 12.5rem); } }
    @media only screen and (max-width: 620px) {
      .portfolio__gallery {
        height: auto; } }
    @media only screen and (max-width: 478px) {
      .portfolio__gallery {
        width: 100%; } }
  .portfolio__images {
    list-style: none;
    width: 12rem;
    height: 100%;
    padding: 0 0.5rem 0 0;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 725px) {
      .portfolio__images {
        width: 100%;
        height: 12rem;
        flex-direction: row;
        margin-bottom: 0.5rem; } }
    .portfolio__images-item {
      width: 100%;
      height: 12rem; }
      .portfolio__images-item:not(:last-child) {
        margin-bottom: 0.5rem; }
        @media only screen and (max-width: 725px) {
          .portfolio__images-item:not(:last-child) {
            margin-right: 0.5rem;
            margin-bottom: 0; } }
      @media only screen and (max-width: 725px) {
        .portfolio__images-item {
          width: 12rem;
          height: 100%;
          flex-direction: row; } }
    .portfolio__images-img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .portfolio__slider {
    flex: 1;
    height: 100%; }

.reviews {
  width: 100%;
  height: 82.1rem;
  font-size: 1.6rem;
  position: relative; }
  .reviews__review {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 57%;
    height: 100%;
    padding: 10rem;
    background-color: transparent;
    backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 1300px) {
      .reviews__review {
        width: 75%; } }
    @media only screen and (max-width: 981px) {
      .reviews__review {
        width: 85%; } }
    @media only screen and (max-width: 725px) {
      .reviews__review {
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .reviews__review {
        padding: 4.5rem; } }
  .reviews__headers {
    text-align: center; }
  .reviews__paragraph {
    text-align: center;
    padding: 0 3rem;
    z-index: 10;
    position: relative; }
    @media only screen and (max-width: 26.625em) {
      .reviews__paragraph {
        font-size: 1.4rem;
        padding: 0; } }
    .reviews__paragraph span {
      font-weight: 700;
      font-size: 2rem; }
    .reviews__paragraph::before {
      content: "\201C";
      position: absolute;
      top: -24rem;
      right: 0rem;
      font-size: 40rem;
      color: rgba(255, 255, 255, 0.12);
      z-index: 1; }

.stages {
  font-size: 1.6rem;
  background-color: #000;
  width: 100%;
  height: 53.1rem;
  padding: 6.5rem 16.7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media only screen and (max-width: 1300px) {
    .stages {
      padding: 4.5rem 9rem; } }
  @media only screen and (max-width: 1100px) {
    .stages {
      padding: 3.5rem 5.5rem; } }
  @media only screen and (max-width: 1021px) {
    .stages {
      padding: 3.5rem 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .stages {
      align-items: center; } }
  @media only screen and (max-width: 478px) {
    .stages {
      height: 57.1rem; } }

.chain {
  width: 100%;
  font-family: "Aleo", serif;
  margin-top: 9.3rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr); }
  @media only screen and (max-width: 725px) {
    .chain {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, min-content);
      row-gap: 4rem;
      margin-top: 6.3rem; } }
  .chain__card {
    display: flex;
    flex-direction: column; }
  .chain__icon {
    font-size: 4rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    margin-bottom: 3rem; }
    .chain__icon::before, .chain__icon::after {
      height: 1px;
      background-color: currentColor;
      display: block;
      content: ""; }
      @media only screen and (max-width: 725px) {
        .chain__icon::before, .chain__icon::after {
          display: none; } }
    @media only screen and (max-width: 725px) {
      .chain__icon {
        font-size: 2.85rem;
        grid-template-columns: 1fr;
        justify-items: center; } }
    .chain__icon-item {
      width: 7rem;
      height: 7rem;
      border: 1px solid #fff;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 100px;
      position: relative; }
      @media only screen and (max-width: 725px) {
        .chain__icon-item {
          width: 5rem;
          height: 5rem; } }
      .chain__icon-item::after {
        position: absolute;
        height: 7rem;
        width: 7rem;
        border: 3px solid #ffb800;
        border-radius: 100px;
        display: block;
        content: ""; }
        @media only screen and (max-width: 725px) {
          .chain__icon-item::after {
            width: 5rem;
            height: 5rem; } }
      .chain__icon-item--1::after {
        clip-path: polygon(44% 0, 100% 0, 100% 33%, 82% 17%); }
      .chain__icon-item--2::after {
        clip-path: polygon(44% 0, 100% 0, 100% 70%, 82% 17%); }
      .chain__icon-item--3::after {
        clip-path: polygon(54% 0, 100% 0%, 100% 100%, 54% 100%); }
      .chain__icon-item--4::after {
        clip-path: polygon(50% 0%, 100% 0, 100% 99%, 0 100%, 0 76%); }
      .chain__icon-item--5::after {
        clip-path: polygon(50% 0%, 100% 0, 100% 99%, 0 100%, 0 42%); }
    .chain__icon--first::before {
      height: 0;
      width: 0; }
    .chain__icon--last::after {
      height: 0;
      width: 0; }
  .chain__paragraph {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 2rem;
    align-self: center; }

.footer {
  width: 100%;
  font-size: 1.6rem;
  background-color: #000;
  padding: 16rem 16rem 0 16rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 11.4rem 11.4rem 0 11.4rem; } }
  @media only screen and (max-width: 725px) {
    .footer {
      padding: 7.3rem 7.3rem 0 7.3rem; } }
  @media only screen and (max-width: 478px) {
    .footer {
      padding: 3.9rem 3.9rem 0 3.9rem; } }
  .footer__up-row {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 0.5fr;
    grid-gap: 12rem;
    padding-bottom: 14.5rem; }
    @media only screen and (max-width: 1100px) {
      .footer__up-row {
        grid-gap: 6rem;
        padding-bottom: 10.5rem; } }
    @media only screen and (max-width: 478px) {
      .footer__up-row {
        grid-gap: 3.8rem;
        padding-bottom: 7.5rem; } }
    @media only screen and (max-width: 383px) {
      .footer__up-row {
        grid-gap: 2rem;
        padding-bottom: 4.5rem; } }
  .footer__description-text {
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.7); }
    @media only screen and (max-width: 26.625em) {
      .footer__description-text {
        font-size: 1.2rem; } }
  .footer__options {
    list-style: none;
    color: rgba(255, 255, 255, 0.7); }
  .footer__location, .footer__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.7); }
    @media only screen and (max-width: 26.625em) {
      .footer__location, .footer__options {
        font-size: 1.2rem; } }
    .footer__location-loc span, .footer__options-loc span {
      font-weight: 700;
      color: #fff; }
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; }
  .footer__links-item:link, .footer__links-item:visited {
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none; }
    .footer__links-item:link img, .footer__links-item:visited img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .footer__down-row {
    width: 100%;
    padding: 2rem 0 2rem 0; }
  .footer__copyright {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.4); }
