.landing {
  width: 100%;
  height: 100.14rem;
  font-size: 1.6rem;
  background-image: url("../img/electric-man.png");
  background-size: cover;
  background-position: center;

  position: relative;

  @include respond($mobile-medium-small) {
    height: 112.14rem;
  }
}

// Bavbar
.navbar {
  width: 100%;
  height: 5.4rem;
  padding: 0 11rem;
  background-color: rgba(#000, 0.31);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  // Media
  @include respond($tab-port-medium) {
    padding: 0 5rem;
  }

  @include respond($mobile-medium) {
    flex-wrap: wrap;
    height: auto;
    padding: 2.6rem;
  }

  &__phones {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-secondary;

    @include respond($mobile-medium) {
      width: 100%;
      justify-content: space-around;
    }
  }

  &__links {
    width: 15rem;
    margin-left: 11rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Media
    @include respond($tab-port-medium) {
      margin-left: 5.5rem;
    }
    @include respond($mobile-medium) {
      margin-right: auto;
      margin-top: 2rem;
    }

    &-item:link,
    &-item:visited {
      text-decoration: none;
      height: 3rem;
      width: 4rem;
      & img {
        height: 100%;
        background-position: center;
      }
    }
  }
}

// Headers
.headers {
  width: 100%;
  padding: 4rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // Media
  @include respond($mobile-big) {
    flex-wrap: wrap;
    padding: 4rem;
  }

  @include respond($mobile-medium-small) {
    padding: 4rem 2rem;
  }

  &__logo {
    font-size: 2.4rem;
    font-weight: 900;
    color: $color-yellow;
    text-transform: uppercase;

    @include respond($mobile-big) {
      order: 0;
    }
  }
  // Headers list
  &__sub {
    width: 50%;
    font-size: 1.8rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Media
    @include respond($tab-land-medium) {
      width: 65%;
    }

    @include respond($tab-port-medium) {
      height: 18rem;
      flex-direction: column;
      width: 30%;
    }
    @include respond($mobile-big) {
      order: 2;
    }

    @include respond($mobile-big) {
     width: 100%;
     flex-wrap: wrap;
     margin-top: 2rem;
     flex-direction: row;
     height: 8rem;
    }

    &-item:link,
    &-item:visited {
      text-decoration: none;
      color: #fff;
      font-weight: 400;
      letter-spacing: 0.07rem;

      // Media  
      @include respond($mobile-small) {
        margin-right: 2rem;
       }
    }
    &-item--primary {
      color: $color-yellow !important;
      border-bottom: 3px solid $color-yellow;
    }
  }
}

// Jumbotron
.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56.3%);
  width: 50%;

  // Media
  @include respond($tab-land-medium) {
    width: 70%;
  }

  @include respond($tab-port-medium) {
    top: 56%;
  }

  @include respond($mobile-medium) {
    top: 65%;
  }
  @include respond($mobile-medium-small) {
    top: 56.3%;
  }

  &__paragraph {
    font-size: 1.8rem;
    font-family: $font-secondary;
    margin-top: 2.9rem;
    margin-bottom: 7.1rem;

    @include respond($mobile-medium-small) {
      font-size: 1.4rem;
      margin-bottom: 2.31rem;
    }
  }
}

// Landing down row of options
.down-row {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 16.9rem;
  padding: 3rem 8rem;
  background-color: transparent;
  backdrop-filter: blur(9px);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  grid-gap: 8rem;

  // Media
  @include respond($tab-land-small) {
    grid-gap: 4rem;
    padding: 3rem 4rem;
  }

  @include respond($mobile-big) {
    grid-gap: 2.2rem;
    padding: 1.8rem 2.9rem;
    align-content: flex-start;
    height: 11.9rem;
  }

  @include respond($mobile-medium-small) {
    padding-bottom: 1.8rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    height: 23.3rem;
    row-gap: 6rem;
  }

  &__card {
    font-family: $font-secondary;
    font-weight: 600;
    font-size: 2rem;
    position: relative;

    // Media
    @include respond($tab-land-medium) {
      font-size: 1.8rem;
    }

    @include respond($tab-land-small) {
      font-size: 1.6rem;
    }
    @include respond($mobile-big) {
      font-size: 1.3rem;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;

    @include respond($tab-land-small) {
      height: 8rem;
    }
  }
}
