.stages {
  font-size: 1.6rem;
  background-color: #000;
  width: 100%;
  height: 53.1rem;
  padding: 6.5rem 16.7rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // Media
  @include respond($tab-land-big) {
    padding: 4.5rem 9rem;
  }

  @include respond($tab-land-medium) {
    padding: 3.5rem 5.5rem;
  }

  @include respond($tab-land-small) {
    padding: 3.5rem 2rem;
  }
  @include respond($tab-port-big) {
    align-items: center;
  }
  @include respond($mobile-medium) {
    height: 57.1rem;
  }
}

.chain {
  width: 100%;
  font-family: $font-secondary;
  margin-top: 9.3rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  @include respond($tab-port-medium) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    row-gap: 4rem;
    margin-top: 6.3rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    font-size: 4rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    margin-bottom: 3rem;

    &::before,
    &::after {
      height: 1px;
      background-color: currentColor;
      display: block;
      content: "";

      @include respond($tab-port-medium) {
       display: none;
      }
    }

    // Media
    @include respond($tab-port-medium) {
      font-size: 2.85rem;
      grid-template-columns: 1fr;
      justify-items: center;
    }

    &-item {
      width: 7rem;
      height: 7rem;
      border: 1px solid #fff;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 100px;

      position: relative;

      // Media
      @include respond($tab-port-medium) {
        width: 5rem;
        height: 5rem;
      }

      &::after {
        position: absolute;
        height: 7rem;
        width: 7rem;
        border: 3px solid $color-yellow-light;
        border-radius: 100px;
        display: block;
        content: "";

        // Media
        @include respond($tab-port-medium) {
          width: 5rem;
          height: 5rem;
        }
      }
      &--1::after {
        clip-path: polygon(44% 0, 100% 0, 100% 33%, 82% 17%);
      }
      &--2::after {
        clip-path: polygon(44% 0, 100% 0, 100% 70%, 82% 17%);
      }
      &--3::after {
        clip-path: polygon(54% 0, 100% 0%, 100% 100%, 54% 100%);
      }
      &--4::after {
        clip-path: polygon(50% 0%, 100% 0, 100% 99%, 0 100%, 0 76%);
      }
      &--5::after {
        clip-path: polygon(50% 0%, 100% 0, 100% 99%, 0 100%, 0 42%);
      }
    }

    &--first {
      &::before {
        height: 0;
        width: 0;
      }
    }

    &--last {
      &::after {
        height: 0;
        width: 0;
      }
    }
  }

  &__paragraph {
    font-size: 1.4rem;
    color: rgba(#fff, 0.8);
    padding: 0 2rem;
    align-self: center;
  }
}
